<div class="container row">
    <h1>Projects here</h1>

    <form action="/users/test" method="post">
         <input type="text" name="test"/>
        <button type="submit">test</button>
    </form>
</div>